# Database
POSTGRES_USER=mikan
POSTGRES_PASSWORD=changeme
POSTGRES_DB=mikan_dev
DB_PORT=5432

# Prisma
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${DB_PORT}/${POSTGRES_DB}

# App
PORT=3000
JWT_SECRET=super-secret-change-in-production
JWT_EXPIRES_IN=7d
NODE_ENV=development
